@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap");

$primary-color: #51646b;
$secondary-color: #c57a3c;
$third-color: #b8a6a0;
$fourth-color: #647c7c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
.confirm-window {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background-image: url("https://image.flaticon.com/icons/png/512/860/860762.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 13.6px 7rem 0;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 1.4rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.151);
}

.button-container {
  animation: pulse 2s infinite;
  width: 0px;
  height: 0px;
}

@keyframes pulse {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 60px;
    height: 60px;
    opacity: 0.1;
    background-color: white;
  }
}

.title-overlay {
  height: 0px;
}

.title-overlay {
  z-index: 10;
}

.btn {
  font-weight: 800;
  padding: 0.5rem 1rem;
  border: none;
  border: $primary-color solid 1px;
  color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $primary-color;
    color: #fff;
    transform: scale(1.1);
  }
}

.form {
  z-index: 11;
  background-color: $third-color;
  border: none;
  text-align: center;
  padding: 1rem;
  width: 400px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.281), 2px 3px 6px rgba(0, 0, 0, 0.185);
  animation: smooth 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;

    & > img {
      width: 40px;
      height: 40px;
    }
  }

  &-title {
    margin: 1rem 0 1rem 0;
  }

  &-title,
  &-text-field {
    opacity: 0.8;
    width: 95%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(14, 14, 14, 0.185);
  }

  &-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &-logo {
      color: $primary-color;
      cursor: pointer;
    }

    &-logo-container {
      cursor: pointer;
      background: #fff;
      padding: 0.5rem 1rem;
      border: $primary-color 1px solid;
      border-radius: 5px;
      margin: 10px 0 5px 0;
      transition: all 0.4s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    @keyframes smooth {
      from {
        width: 140px;
        opacity: 0.3;
      }
      to {
        width: 400px;
        opacity: 1;
      }
    }

    &-photo-label {
      font-size: 13.3px;
      font-weight: 600;
      cursor: pointer;
      color: $primary-color;

      & > div {
        display: inline-block;
      }
    }

    &-submit {
      display: inline-block;
      width: 100%;
      margin: 1rem;
    }
  }
}

.logo-img img {
  width: 75px;
  margin-top: 0.7rem;
  height: 75px;
}

.close-btn {
  background-image: url("https://image.flaticon.com/icons/png/512/106/106830.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
  width: 26px;
  height: 28px;
  border: none;
  margin: 4px;
  background-color: $third-color;
  cursor: pointer;
  border-radius: 100px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 130px;
  justify-content: center;
  align-items: flex-start;
  padding-right: 1rem;
  clip-path: url(#myCurve);
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
  background-color: #51646bcc;
  pointer-events: none;
}

.logo h1 {
  font-size: 3.8rem;
  letter-spacing: 0.7mm;
  color: rgb(255, 255, 255);
}

.logo span {
  display: block;
  margin-top: -1.4rem;
  letter-spacing: 0.5mm;
  padding-left: 3px;
  color: $secondary-color;
  font-weight: 600;
}

.hike-window {
  text-align: center;
  font-size: 10px;
}

.pin-description {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  letter-spacing: .3mm;
  width: 240px;
 
}

.gm-style-iw {
  width: 500px;
  margin-top: 9rem;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.pin-description img {
  padding: 0.2rem;
  margin-top: 1rem;
  width: 160px!important;
  height: 230px;
}

.confirmation {
  display: flex;
  width: 230px;
  align-items: center;
  justify-content: center;
  z-index: 22;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
  animation: smooth-confirm 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes smooth-confirm {
  from {
    display: none;
    width: 200px;
    opacity: 0.1;
  }

  to {
    display: content;
    width: 230px;
    opacity: 1;
  }
}

.confirmation button {
  padding: 10px;
  border: none;
  margin: 8px;
  width: 65px;
  border-radius: 5px;
  background-color: $secondary-color;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.171));
}

.confirmation button:active {
  transform: scaleY(0.9);
}

.toggleDropPin {
  position: absolute;
  z-index: 20;
  margin: 0 0 0.4rem 0.4rem;
  background-color: $third-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  border-radius: 5px;
  height: 40px;
  width: 120px;

  & form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

input[type="checkbox"] {
  width: 30px;
  height: 20px;
  background-color: $primary-color;
}

input[type="checkbox"]:active {
  opacity: 0;
  transition: 0.1s;
  transform: scale(1.9);
}

@media(min-width: 270px) {
  .gm-style-iw {
    width: 260px;
  }

  .pin-description {
    width: 110px;

    img {
      width: 110px;
    }
  }
  .logo{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .logo-text {
    & h1 {
      font-size: 2rem;
    }

    & span {
      font-size: 0.9rem;
      margin-top: -0.8rem;
    }
  }

  .logo-img {
    & img {
      width: 50px;
      height: 50px;
    }
  }
  .form {
    width: 250px;
  }
}
  
@media (min-width:309px)  { 
  .gm-style-iw {
    width: 240px;
    padding: 0;
    margin: 0px;
  }
  .pin-description {
    display: flex;
    flex-direction: column;
    padding: .6rem;
    letter-spacing: .3mm;
    width: 180px;

    img {
      width: 20px;
    }
  }
  
  .logo{
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
}

  @media (min-width: 309px) {
    .logo {
      height: 95px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;

      &-text {
        & h1 {
          display: inline-block;
        }

        & span {
          font-size: 0.9rem;
        }
      }
    }

    .form {
      width: 300px;
    }
  }

  @media (min-width: 400px) {
    .form {
      width: 380px;
    }
  }


  


@media (min-width:600px)  { 
  
  .logo{
    height: 120px;
  }
}
  


  @media (min-width: 600px) {
    .logo {
      height: 120px;
    }

    .logo-text {
      & h1 {
        font-size: 3.4rem;
      }

      & span {
        font-size: 0.9rem;
        margin-top: -0.8rem;
      }
    }

    .logo-img {
      width: 60px;
      height: 50px;
      margin-right: 20px;

      & img {
        width: 75px;
        height: 75px;
      }
    }

    .form {
      width: 400px;
    }
  }


@media (min-width:801px)  { 

  .description {

    & img {
      height: 500px;
      width: 800px;
    }
  }
  .logo{
    height: 120px;
  }
  
    .logo-text {
      & h1 {
        font-size: 3.4rem;
      }

      & span {
        font-size: 0.9rem;
        margin-top: -0.8rem;
      }
    }

    .logo-img {
      width: 60px;
      height: 50px;
      margin-right: 20px;

      & img {
        width: 75px;
        height: 75px;
      }
    }
  }


.search-box {
  top: 1rem;
  left: 1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 50;
  margin-top: 6.5rem;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: rgb(11, 11, 11);
}
.input-search::placeholder {
  color: rgb(9, 9, 9);
  font-size: 18px;
  letter-spacing: 2px;
  padding: .4rem;
  border-radius: 50px;
  font-weight: 100;
  padding-left: 2.5rem;
}

input .input-search {
  background-color: white;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
