@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

$primary-color: #51646b;
$secondary-color: #c57a3c;
$third-color: #b8a6a0;
$fourth-color: #647c7c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, .confirm-window {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button  {
  background-image: url('https://image.flaticon.com/icons/png/512/860/860762.png');
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 13.6px 7rem 0;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 1.4rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.151)
}

.title-overlay {
  height: 0px;
}

.title-overlay {
  z-index: 10;
}

.btn {
  font-weight: 800;
  padding: 0.5rem 1rem;
  border: none;
  border: $primary-color solid 1px;
  color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  transition: all .2s ease-in-out;

  &:hover {
    background: $primary-color;
    color: #fff;
    transform: scale(1.1);
  }
}

.form {
  z-index: 11;
  background-color: $third-color;
  border: none;
  text-align: center;
  padding: 1rem;
  width: 250px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.281),
  2px 3px 6px rgba(0, 0, 0, 0.185);

  &-close-btn {
    background-image: url('https://image.flaticon.com/icons/png/512/106/106830.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 28px;
    border: none;
    margin: 4px;
    background-color: $third-color;
    cursor: pointer;
    border-radius: 100px;
  }

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;

    & > img {
    width: 40px;
    height: 40px;
    }
  }

  &-title {
    margin: 1rem 0 1rem 0;
  }

  &-title, &-text-field {
    opacity: 0.8;
    width: 95%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(14, 14, 14, 0.185)
  }

  &-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &-logo {
      color:$primary-color;
      cursor: pointer;
    }

    &-logo-container {
      cursor: pointer;
      background: #fff;
      padding: 0.5rem 1rem;
      border: $primary-color 1px solid;
      border-radius: 5px;
      margin: 10px 0 5px 0;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-photo-label {
      font-size: 13.3px;
      font-weight: 600;
      cursor: pointer;
      color: $primary-color;

      & > div {
        display: inline-block;
      }
    }

    &-submit {
      display: inline-block;
      width: 100%;
      margin: 1rem;
    }
  }
}

.logo-img img{
  width: 75px;
  margin-top: .7rem;
  height: 75px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 130px;
  justify-content: center;
  align-items: flex-start;
  padding-right: 1rem;
  clip-path: url(#myCurve);
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
  background-color: #51646bcc;

  & h1 {
    font-size: 3.8rem;
    letter-spacing: .7mm;
    color: rgb(255, 255, 255);
  }
  
  & span {
    display:block;
    margin-top: -1.4rem;;
    letter-spacing: .5mm;
    padding-left: 3px;
    color: $secondary-color;
    font-weight: 600;
  }
}


.hike-window {
  text-align: center;
  font-size: 10px;
}

.pin-description {
  display: flex;
  flex-direction: column;
  padding: .6rem;
  letter-spacing: .3mm;

  & img {
    height: 200px;
    padding: .2rem;
    margin-top: 1rem;
  }
}


.confirmation {
  display: flex;
  width: 220px;
  align-items: center;
  justify-content: center;
  z-index: 22;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));

  & button {
    padding: 10px;
    border: none;
    margin: 8px;
    width: 65px;
    border-radius: 5px;
    background-color: $secondary-color;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.171));

    &:active {
      transform: scaleY(0.9);
    }
  }
}



.toggleDropPin {
  position: absolute;
  z-index: 20;
  margin: 5px;
  background-color: $third-color;;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  bottom: 0;
  left: 0;
  padding: .5rem;
  border-radius: 5px;
  height: 40px;
  width: 120px;

  & form {
    display: flex;
    justify-content:center;
    align-items:center;
  }
}

 input[type='checkbox'] {
  width: 30px;
  height: 20px;
  background-color: $primary-color;

  &:active {
    opacity: 0;
    transition: .1s;
    transform: scale(1.9);
  }
}

@media(min-width: 280px) {
  .logo{
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .logo-text {

    & h1 {
      font-size: 2rem;
    }

    & span {
      font-size: .9rem;
      margin-top: -.8rem;
    }
  } 

  .logo-img {
    & img {
      width: 50px;
      height: 50px;
    }
  }
  .form {
    width: 300px;
  }
}

  
@media (min-width:360px)  { 
.logo{
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

  .logo-text {

    & h1 {
      font-size: 2.8rem;
    }

    & span {
      font-size: .7rem;
      margin-top: -.8rem;
    }
  } 

  .logo-img {
    & img {
      width: 60px;
      height: 60px;
    }
  }
  .form {
    width: 320px;
  }
}
  
@media (min-width:600px)  { 
  .logo{
    height: 120px;

    &-text {
  
      & h1 {
        font-size: 3.4rem;
      }
  
      & span {
        font-size: .9rem;
        margin-top: -.8rem;
      }
    } 
  
    &-img {
      width: 60px;
      height: 50px;
      margin-right: 20px;
  
      & img {
        width: 75px;
        height: 75px;
      
      }
    }
  }

  .form {
    width: 400px;
  }
}

@media (min-width:801px)  { 
  .logo{
    height: 120px;
    
    &text {
  
      & h1 {
        font-size: 3.4rem;
      }
  
      & span {
        font-size: .9rem;
        margin-top: -.8rem;
      }
    } 
  
    &-img {
      width: 60px;
      height: 50px;
      margin-right: 20px;
  
      & img {
        width: 75px;
        height: 75px;
      }
    }
  }

  .form {
    width: 500px;
  }
}
