@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');

$primary-color: #333;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button  {
  z-index: 10;
  color: #555;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 9px;
  margin: 0 9.6px 6.8rem 0;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.button:hover {
  color: black;
  font-weight: 800;
  transition: .2s;
}

.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.title-overlay {
  z-index: 10;
}

.btn {
  font-weight: 800;
  padding: 0.5rem 1rem;
  border: none;
  border: $primary-color solid 1px;
  color: $primary-color;
  cursor: pointer;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.btn:hover {
  background: $primary-color;
  color: #fff;
  transform: scale(1.1);
}

.form {
  position: sticky;
  z-index: 11;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  text-align: center;
  padding: 1rem;
  margin: 280px auto;
  max-width: 400px;
  max-height: 40vh;
  border-radius: 5px;

  &-title {
    margin-bottom: 1rem;
  }

  &-title, &-text-field {
    opacity: 0.8;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
  }

  &-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5px;
    flex-direction: column;

    &-logo {
      color:$primary-color;
      cursor: pointer;
      transition: all .2s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }

    &-photo-label > div {
      display: inline-block;
    }
  
    &-submit {
      margin: 1rem;
    }
  }
}

.hike-window {
  text-align: center;
  font-size: 10px;
}

@media (max-width:279px)  { 
  .PMH-logo {
    margin-top: 1rem;
    width: 9rem;
    height: 6rem;
  } 
}
  
@media (max-width:319px)  { 
  .PMH-logo {
    margin-top: 1rem;
    width: 13rem;
    height: 6rem;
  } 
}
  
@media (max-width:480px)  { 
  .PMH-logo {
    margin-top: 1rem;
    width: 13rem;
    height: 6rem;
  }

  .form {
    max-width: 300px;
  }
}
@media (max-width:600px)  { 
  .PMH-logo {
    margin-top: 1rem;
    width: 13rem;
    height: 6rem;
  }
}
@media (max-width:801px)  { 
  .PMH-logo {
    margin-top: 1rem;
    width: 15rem;
    height: 10rem;
  }
}
@media (max-width:1025px) { 
  .PMH-logo {
    margin-top: 1rem;
    width: 20rem;
    height: 10rem;
  }
}
@media (max-width:1281px) {
  .PMH-logo {
    margin-top: 1rem;
    width: 30rem;
    height: 10rem;
  }
}